{% extends "layout.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">IPLatform</h3>
          <ul class="nav masthead-nav">
            <li id="home" class="active"><a href="#">Home</a></li>
            <li id="contact"><a href="#">Contact</a></li>
			<li id="login"><a href="{{ url_for('login') }}">Login</a></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">IPLatform</h1>
        <p id='explain' class="lead">PaaS engine using Docker.</p>
        <p class="lead">
          <a href="{{ url_for('signup') }}" class="btn btn-lg btn-default">Sign up</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
			<p>Copyright &copy; 2014 <a href="https://github.com/yymm">@yymm</a> and <a href="https://github.com/doragon">@doragon</a> All Rights Reserved.</p>
        </div>
      </div>

    </div>

  </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
