 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IPLatform</title>
	<!--<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/layout.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/animate.min.css') }}">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	{% block head %}
	{% endblock %}
	<script>document.write('<script src="http://'
	    + (location.host || 'localhost').split(':')[0]
	    + ':35729/livereload.js?snipver=1"></'
	    + 'script>')</script>
</head>
<body>
	{% block body %}
	{% endblock %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
